<div class="component light-grey feature-c">
  <br>
  <div class="medium center-text">
    <span class="title-400">Take advantage of <span class="red-title-600">Zinger</span> to speed up the development phase</span>
  </div>
  <div class="flex-container">
    <app-card desc="Track and manage availability of inventories with ease." pic="inventory.svg" title="Inventory Management"
              type="NORMAL"></app-card>
    <app-card desc="Track orders from initial acceptance to last mile delivery to customers." pic="track.svg"
              title="Order Tracking"
              type="NORMAL"></app-card>
    <app-card desc="Schedule recurring background jobs and time them to meet your needs." pic="scheduler.svg"
              title="Scheduled Tasks"
              type="NORMAL"></app-card>
    <app-card desc="Authenticate, confirm and manage users in a role based manner." pic="security.svg" title="Security"
              type="NORMAL"></app-card>
    <app-card desc="Audit and generate report to track and monitor the application." pic="audit.svg" title="Auditing"
              type="NORMAL"></app-card>
    <app-card desc="Receive realtime alerts including push notifications, email and SMS." pic="notify.svg"
              title="Notifications" type="NORMAL"></app-card>
  </div>
  <br>
</div>
