<div class="component light-grey">
  <br><br>
  <div class="medium center-text">
    <span class="title-400">Take advantage of <span class="red-title-600">Zinger</span> to speed up the development phase</span>
  </div>
  <mat-grid-list cols="1" rowHeight="310" class="top-30">
    <mat-grid-tile>
      <app-card type="NORMAL" title="Inventory Management" desc="Track and manage availability<br>of inventories with ease." pic="inventory.svg"></app-card>
      <app-card type="NORMAL" title="Order Tracking" desc="Track orders from initial acceptance<br>to last mile delivery to customers." pic="track.svg"></app-card>
      <app-card type="NORMAL" title="Scheduled Tasks" desc="Schedule recurring background jobs<br>and time them to meet your needs." pic="scheduler.svg"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card type="NORMAL" title="Security" desc="Authenticate, confirm and manage<br>users in a role based manner." pic="security.svg"></app-card>
      <app-card type="NORMAL" title="Auditing" desc="Audit and generate report to<br>track and monitor the application." pic="audit.svg"></app-card>
      <app-card type="NORMAL" title="Notifications" desc="Receive realtime alerts including<br>push notifications, email and SMS." pic="notify.svg"></app-card>
    </mat-grid-tile>
  </mat-grid-list>
  <br><br>
</div>
