<div class="component" style="user-select: none">
  <div class="left"><a href="" class="red-title-700 large left-50">Zinger</a></div>
  <div class="right">
    <mat-toolbar class="right" style="background: white; margin-top: -6px; margin-right: 1px">
      <a href="{{docsUrl}}" class="nav-item nav-link" routerLinkActive="active">Docs</a>
      <a href="{{apiDocsUrl}}" class="nav-item nav-link" routerLinkActive="active">API</a>
      <a href="{{guideUrl}}" class="nav-item nav-link" routerLinkActive="active">Guide</a>
      <a [routerLink]="caseStudyUrl" class="nav-item nav-link" routerLinkActive="active">Case Study</a>
      <a href="{{frameworkGithubUrl}}" class="nav-item">
        <i class="fab fa-github"></i>
      </a>
    </mat-toolbar>
  </div>
</div>
