.nav-item {
  color: var(--grey);
  font-weight: var(--font-400);
  font-size: var(--small);
  margin: 10px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.header {
  background: white;
  margin-top: -6px;
  margin-right: 1px;
}

.nav-item::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: var(--red);
}

.nav-item + .active:before {
  width: 100%;
}

.nav-link::before {
  width: 0;
  top: 30px;
}

.nav-link:not(.active):not(.inactive):hover:before {
  width: 100%;
}

.nav-item i:hover {
  color: var(--red);
}

.outer {
  width: 100%;
}

@media screen and (orientation: portrait) {
  .nav-item {
    margin: 5px;
  }

  .header {
    margin-top: -14px;
  }

  .nav-item::before {
    height: 3px;
  }

  .nav-link::before {
    top: 18px;
  }
}
