<div class="component" style="user-select: none">
  <div class="left"><a href="/" class="red-title-700 large left-50">Zinger</a></div>
  <div class="right right-20 top-10">
    <a href="{{docsUrl}}" class="nav-item nav-link">Docs</a>
    <a href="{{apiDocsUrl}}" class="nav-item nav-link">API</a>
<!--    <a class="nav-item nav-link active">API</a>-->
    <a href="{{guideUrl}}" class="nav-item nav-link">Guides</a>
    <a href="/samples" class="nav-item nav-link">Samples</a>
    <a href="{{frameworkGithubUrl}}" class="nav-item">
      <i class="fab fa-github"></i>
    </a>
  </div>
</div>
<router-outlet></router-outlet>
