<div class="component">
  <div class="left"><span class="red-title-700 large left-50">Zinger</span></div>
  <div class="right right-20">
    <a href="/docs" class="nav-item nav-link">Docs</a>
    <a href="{{apiDocsUrl}}" class="nav-item nav-link">API</a>
<!--    <a class="nav-item nav-link active">API</a>-->
    <a href="/docs/guides" class="nav-item nav-link">Guides</a>
    <a href="/samples" class="nav-item nav-link">Samples</a>
    <a href="{{frameworkGithubUrl}}" class="nav-item">
      <i class="fab fa-github"></i>
    </a>
  </div>
</div>
<router-outlet></router-outlet>
