<div class="component intro-c">
  <div class="center">
    <img src="assets/pic/zinger-logo.png" class="logo-img">
    <img src="assets/pic/zinger-partner-logo.png" class="logo-img">
  </div>
  <div class="top-30 large center-text width-60">
    <span class="title-600">Introducing the Very First Application
built using <span class="red-title-600">Zinger</span> Framework</span>
  </div>
  <div class="top-10 very-small center-text width-40">
    <span class="title-100">Zinger and Zinger Partner is an on-demand food ordering mobile application, providing a
one-stop solution for shop owners to manage and track their orders.</span>
  </div>
  <div class="center top-50 small">
    <mat-chip-list>
      <a style="text-decoration: none" href="{{UIManualUrl}}"><mat-chip class="chip mid-small active weight-600">Get Started</mat-chip></a>
    </mat-chip-list>
  </div>
</div>
