<div class="component">
  <div class="center">
    <img src="../../../../assets/pic/zinger-logo.png" style="margin-top: 50px; margin-right: 30px;" width="180">
    <img src="../../../../assets/pic/zinger-partner-logo.png" style="margin-top: 50px" width="180">
  </div>
  <div class="top-30 large center-text">
    <span class="title-600">Introducing the very First Application<br>
built using <span class="red-title-600">Zinger</span> Framework</span>
  </div>
  <div class="top-10 very-small center-text">
    <span class="title-100">Zinger and Zinger Partner is an on-demand food ordering mobile application, providing a<br>
one-stop solution for shop owners to manage and track their orders.</span>
  </div>
  <div class="top-50 smallest center-text">
    <span class="grey-title-100">Made with love by</span>
  </div>
  <div class="center-text top-10">
    <svg height="3" width="100">
      <line x1="0" y1="0" x2="90" y2="0" style="stroke:rgba(255,65,65,0.4); stroke-width:3"/>
    </svg>
    <a href="{{shrikanthProfile}}"><img src="../../../../assets/pic/shrikanth.png" class="center-div circle-img" width="50"></a>
    <a href="{{harshaProfile}}"><img src="../../../../assets/pic/harsha.png" class="center-div circle-img left-10" width="50"></a>
    <svg height="3" width="100">
      <line x1="10" y1="0" x2="100" y2="0" style="stroke:rgba(255,65,65,0.4);stroke-width:3"/>
    </svg>
  </div>
  <div class="center top-50 small">
    <mat-chip-list>
      <a style="text-decoration: none" href="{{UIManualUrl}}"><mat-chip class="chip mid-small active weight-600">Get Started</mat-chip></a>
    </mat-chip-list>
  </div>
  <br><br><br><br>
</div>
