<div class="component light-grey contribute-c">
  <br>
  <div class="medium center-text">
    <span class="title-400">Join and support our growing <span class="red-title-600">Developers</span> Community</span>
  </div>
  <div class="top-30 mid-small center-c">
    <span class="title-100">
      Zinger framework is completely free and made open-source. Our source code is
available on Github along with endpoint documentations. Our team is really happy
to support contributors from all around the world. Fork our project and send us your
pull request: maybe sample mobile apps using our framework, minor extensions or
major improvements.
<br><br><span class="weight-600">Every contribution is awesome and welcome!</span>
      <br><br>A special thanks to <a href="https://github.com/suprajalvs" class="red-title-600">Supraja Vedullapalli</a> for being with us in the initial development.
    </span>
  </div>
  <div class="center top-50 small">
    <mat-chip-list>
      <a href="{{frameworkGithubUrl}}/fork" style="text-decoration: none"><mat-chip class="chip mid-small weight-600"><i class="fas fa-code-branch" style="color: var(--red)"></i>&nbsp;&nbsp;Fork on Github</mat-chip></a>
      <a href="{{contributeUrl}}" style="text-decoration: none"><mat-chip class="chip mid-small active weight-600">Join Community</mat-chip></a>
    </mat-chip-list>
  </div>
  <br>
  <div class="very-small center-text pad-10 top-100">
    <span class="grey-title-100">Copyright © 2020 Zinger – All rights reserved</span>
  </div>
</div>
