<div class="component contribute-c">
  <br>
  <div class="medium center-text">
    <span class="title-400">Our Framework works with <span class="red-title-600">Every</span> platform!</span><br>
    <span class="smallest title-100">Seamlessly integrate with various web & mobile applications.</span>
    <div class="flex-container top-30">
      <img class="icon" src="assets/pic/angular.png">
      <img class="icon" src="assets/pic/js.png">
      <img class="icon" src="assets/pic/kotlin.png">
      <img class="icon" src="assets/pic/react.png">
      <img class="icon" src="assets/pic/java.png">
      <img class="icon" src="assets/pic/swift.png">
    </div>
  </div>
  <br>
  <div class="medium center-text">
    <span class="title-400">Join and support our growing <span class="red-title-600">Developers</span> Community</span>
  </div>
  <div class="top-30 mid-small center-c">
    <span class="title-100">
      Zinger framework is completely free and made open-source. Our source code is
available on Github along with endpoint documentations. Our team is really happy
to support contributors from all around the world. Fork our project and send us your
pull request: maybe sample mobile apps using our framework, minor extensions or
major improvements.
<br><br><span class="weight-600">Every contribution is awesome and welcome!</span>
    </span>
  </div>
  <br>
  <div class="center top-10 small">
    <mat-chip-list>
      <a href="{{frameworkGithubUrl}}/fork" style="text-decoration: none">
        <mat-chip class="chip mid-small weight-600"><i class="fas fa-code-branch" style="color: var(--red)"></i>&nbsp;&nbsp;Fork
          on Github
        </mat-chip>
      </a>
      <a href="{{contributeUrl}}" style="text-decoration: none">
        <mat-chip class="chip mid-small active weight-600">Join Community</mat-chip>
      </a>
    </mat-chip-list>
  </div>
  <div class="very-small center-text pad-10 top-50">
    <span class="grey-title-100">Copyright © 2020 Zinger – All rights reserved</span>
  </div>
</div>
