.chip {
  background-color: white;
  color: var(--red);
  padding: 18px 18px;
  border: 2px solid var(--red);
  border-radius: 30px;
  cursor: pointer;
}

.active{
  background-color: var(--red);
  color: white;
}

.chip:not(.active):hover{
  box-shadow: 0 0 7px 3px rgba(255, 65, 65, 0.25);
}
