<div class="component use-case-c">
  <br>
  <div class="medium center-text">
    <span class="title-400">What can you build with <span class="red-title-600">Zinger</span>?</span><br>
    <span class="smallest title-100">Checkout the world’s most popular apps that could be rebuilt using Zinger.</span>
    <div class="flex-container top-30">
      <img src="assets/pic/dunzo.png" class="icon">
      <img src="assets/pic/swiggy.png" class="icon">
      <img src="assets/pic/uber_eats.png" class="icon">
      <img src="assets/pic/zomato.png" class="icon">
      <img src="assets/pic/myntra.png" class="icon">
      <img src="assets/pic/amazon.png" class="icon">

      <img src="assets/pic/medplus.png" class="icon">
      <img src="assets/pic/ajio.png" class="icon">
      <img src="assets/pic/1mg.png" class="icon">
      <img src="assets/pic/decathlon.png" class="icon">
      <img src="assets/pic/bigbasket.png" class="icon">
      <img src="assets/pic/flipkart.png" class="icon">
    </div>
    <br>

    <span class="title-400">Our Framework works with <span class="red-title-600">Every</span> platform!</span><br>
    <span class="smallest title-100">Seamlessly integrate with various web & mobile applications.</span>
    <div class="flex-container top-30">
      <img src="assets/pic/angular.png" class="icon">
      <img src="assets/pic/js.png" class="icon">
      <img src="assets/pic/kotlin.png" class="icon">
      <img src="assets/pic/react.png" class="icon">
      <img src="assets/pic/java.png" class="icon">
      <img src="assets/pic/swift.png" class="icon">
    </div>
    <br>
  </div>
</div>
