<div class="component">
  <br><br>
  <div class="medium center-text">
    <span class="title-400">What can you build with <span class="red-title-600">Zinger</span>?</span><br>
    <span class="smallest title-100">Checkout the world’s most popular apps that could be rebuilt using Zinger.</span>
    <mat-grid-list cols="1" rowHeight="100" class="top-30">
      <mat-grid-tile>
        <img src="assets/pic/dunzo.png" width="120" height="120">
        <img src="assets/pic/swiggy.png" width="120" height="120">
        <img src="assets/pic/uber_eats.png" width="120" height="120">
        <img src="assets/pic/zomato.png" width="120" height="120">
        <img src="assets/pic/myntra.png" width="120" height="120">
        <img src="assets/pic/amazon.png" width="120" height="120">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="assets/pic/medplus.png" width="120" height="120">
        <img src="assets/pic/ajio.png" width="120" height="120">
        <img src="assets/pic/1mg.png" width="120" height="120">
        <img src="assets/pic/decathlon.png" width="120" height="120">
        <img src="assets/pic/bigbasket.png" width="120" height="120">
        <img src="assets/pic/flipkart.png" width="120" height="120">
      </mat-grid-tile>
    </mat-grid-list>
    <br><br>
    <span class="title-400">Our Framework works with <span class="red-title-600">Every</span> platform!</span><br>
    <span class="smallest title-100">Seemlessly integrate with various web & mobile applications.</span>
    <mat-grid-list cols="1" rowHeight="100" class="top-30">
      <mat-grid-tile>
        <img src="assets/pic/angular.png" width="120" height="120">
        <img src="assets/pic/js.png" width="120" height="120">
        <img src="assets/pic/kotlin.png" width="120" height="120">
        <img src="assets/pic/react.png" width="120" height="120">
        <img src="assets/pic/java.png" width="120" height="120">
        <img src="assets/pic/swift.png" width="120" height="120">
      </mat-grid-tile>
    </mat-grid-list>
    <br>
  </div>
</div>
