.normal-card {
  width: 225px;
  height: 225px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  margin-right: 55px;
  margin-bottom: 55px;
}

.normal-card img {
  width: 140px;
  height: 100px;
  margin-top: 20px
}

.cs-card {
  width: 175px;
  height: 194px;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  margin-right: 55px;
  margin-bottom: 55px;
}

.cs-card img {
  width: 70px;
  height: 70px;
  margin-top: 6px;
}

.cs-chip {
  background-color: white;
  color: var(--red);
  padding: 0 20px;
  border: 2px solid var(--red);
  border-radius: 30px;
  cursor: pointer;
}

.cs-chip:not(.active):hover {
  box-shadow: 0 0 7px 3px rgba(255, 65, 65, 0.25);
}

.question {
  font-size: 100px;
  color: var(--grey);
}

@media screen and (orientation: portrait) {
  mat-card mat-card-title {
    font-size: 9px;
  }

  mat-card div {
    font-size: 8px;
  }

  .normal-card {
    width: 100px;
    height: 120px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .normal-card img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
  }

  .normal-card:hover {
    width: 100px;
    height: 120px;
  }

  .cs-card {
    width: 100px;
    height: 130px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .cs-card img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }

  .cs-card:hover {
    width: 100px;
    height: 130px;
  }

  .cs-chip {
    padding: 6px 12px;
  }

  .center-v {
    display: none;
  }
}
