<div class="center-text">
  <mat-card *ngIf="type=='NORMAL'" class="normal-card">
    <mat-card-title class="title-600 mid-small">{{title}}</mat-card-title>
    <img src="assets/pic/{{pic}}">
    <div class="top-20 smallest width-96"><span [innerHTML]="desc" class="title-100"></span></div>
  </mat-card>
  <mat-card *ngIf="type=='CS'" class="cs-card">
    <mat-card-title class="title-600 mid-small">{{title}}</mat-card-title>
    <img src="assets/pic/{{pic}}">
    <div class="top-10 smallest width-96"><span [innerHTML]="desc" class="title-100"></span></div>
    <div class="top-10">
      <a href="{{url}}" style="text-decoration: none">
        <mat-chip *ngIf="url.includes('github.com')" class="cs-chip smallest weight-600"><i class="fab fa-github"
                                                                                            style="color: var(--red)"></i>&nbsp;&nbsp;Github
        </mat-chip>
        <mat-chip *ngIf="!url.includes('github.com')" class="cs-chip smallest weight-600"><i class="fab fa-chrome"
                                                                                             style="color: var(--red)"></i>&nbsp;&nbsp;Website
        </mat-chip>
      </a>
    </div>
  </mat-card>
  <mat-card *ngIf="type=='EMPTY'" class="cs-card center-v">
    <div class="center-hv question">?</div>
  </mat-card>
</div>
