<div class="component intro">
  <div class="center">
    <img class="header-logo" src="assets/pic/zinger-logo.png">
  </div>
  <div class="top-30 large center-text width-60">
    <span class="title-600">An Open Source Framework for building <span class="red-title-600">Hyperlocal</span> Delivery <span
      class="red-title-600">Mobile</span> and <span class="red-title-600">Web</span> applications</span>
  </div>
  <div class="top-10 very-small center-text width-40">
    <span class="title-100">Zinger provides developers easy to handle backend for ordering & delivering foods, groceries, fruits, vegetables, medicines, etc.</span>
  </div>
  <div class="top-50 smallest center-text">
    <span class="grey-title-100">Made with love by</span>
  </div>
  <div class="center-text top-10">
    <svg height="3" width="100">
      <line x1="0" y1="0" x2="90" y2="0" style="stroke:rgba(255,65,65,0.4); stroke-width:3"/>
    </svg>
    <a href="{{logeshProfile}}"><img src="assets/pic/logesh.png" class="center-div circle-img"></a>
    <a href="{{harshaProfile}}"><img src="assets/pic/harsha.png" class="center-div circle-img left-10"></a>
    <svg height="3" width="100">
      <line x1="10" y1="0" x2="100" y2="0" style="stroke:rgba(255,65,65,0.4);stroke-width:3"/>
    </svg>
  </div>
  <div class="center top-50 small">
    <mat-chip-list>
      <a style="text-decoration: none" href="{{docsUrl}}"><mat-chip class="chip mid-small active weight-600">Get Started</mat-chip></a>
      <a style="text-decoration: none" href="{{frameworkGithubUrl}}"><mat-chip class="chip mid-small weight-600"><i class="fab fa-github" style="color: var(--red)"></i>&nbsp;&nbsp;Github</mat-chip></a>
    </mat-chip-list>
  </div>
  <br>
</div>
