.intro{
  margin-bottom: 45px;
}

.header-logo{
  margin-top: 50px;
  width: 200px;
  height: 200px;
}

.chip {
  background-color: white;
  color: var(--red);
  padding: 18px 18px;
  border: 2px solid var(--red);
  border-radius: 30px;
  cursor: pointer;
}

.active{
  background-color: var(--red);
  color: white;
}

.chip:not(.active):hover{
  box-shadow: 0 0 7px 3px rgba(255, 65, 65, 0.25);
}

@media screen and (orientation: portrait) {
  .intro{
    margin-bottom: 0;
  }

  .header-logo{
    margin-top: 5px;
    width: 70px;
    height: 70px;
  }

  .chip {
    padding: 6px 10px;
  }
}
