<div class="component intro">
  <div class="center">
    <img class="header-logo" src="assets/pic/zinger-logo.png">
  </div>
  <div class="top-30 large center-text width-60">
    <span class="title-600">An <span class="red-title-600">Open Source</span> Framework for building Ecommerce<br>
    <span class="red-title-600">Marketplace</span> Solutions</span>
  </div>
  <div class="top-10 very-small center-text width-40">
    <span class="title-100">Zinger offers highly flexible backend system that enables the developers to manage shops, inventory, orders, discounts, etc.</span>
  </div>
  <div class="center top-50 small">
    <mat-chip-list>
      <a style="text-decoration: none" href="{{docsUrl}}"><mat-chip class="chip mid-small active weight-600">Get Started</mat-chip></a>
      <a style="text-decoration: none" href="{{frameworkGithubUrl}}"><mat-chip class="chip mid-small weight-600"><i class="fab fa-github" style="color: var(--red)"></i>&nbsp;&nbsp;Github</mat-chip></a>
    </mat-chip-list>
  </div>
  <br>
</div>
