<div class="component light-grey">
  <br>
  <div class="medium center-text">
    <span class="title-400">Who is using <span class="red-title-600">Zinger</span> Framework?</span>
  </div>
  <mat-grid-list cols="1" rowHeight="310" class="top-10">
    <mat-grid-tile>
      <app-card type="CS" title="Zinger" desc="A customer side application to place and track food orders." pic="zinger-logo.png" url="{{zingerGithubUrl}}"></app-card>
      <app-card type="CS" title="Zinger Partner" desc="A seller side application for order and inventory management." pic="zinger-partner-logo.png" url="{{zingerPartnerGithubUrl}}"></app-card>
      <app-card type="EMPTY"></app-card>
    </mat-grid-tile>
  </mat-grid-list>
  <br><br>
</div>
