.left-50 {
  margin-left: 50px;
}

.right-20 {
  margin-right: 20px;
}

.pad-10 {
  padding: 10px;
}

.red-title-700 {
  color: var(--red);
  font-weight: var(--font-700);
}

.component{
  clear: left;
}
