.weight-600 {
  font-weight: var(--font-600);
}

.light-grey {
  background-color: var(--light-grey);
}

.red-title-700 {
  color: var(--red);
  font-weight: var(--font-700);
  cursor: pointer;
  text-decoration: none;
}

.red-title-600 {
  color: var(--red);
  font-weight: var(--font-600);
}

.title-600 {
  font-weight: var(--font-600);
}

.title-400 {
  font-weight: var(--font-400);
}

.title-200 {
  font-weight: var(--font-200);
}

.grey-title-100 {
  color: var(--grey);
  font-weight: var(--font-100);
}

.component {
  width: 100%;
  height: 100%;
  clear: left;
}

.center-text {
  text-align: center;
}

.center-div {
  vertical-align: middle;
}

.circle-img {
  width: 50px;
  height: 50px;
  border-radius: 50px
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.center-v {
  text-align: center;
}

.center-v:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.center-hv {
  display: inline-block;
  vertical-align: middle;
}

.mat-chip.mat-standard-chip::after {
  background: none;
}

@media screen and (orientation: portrait) {
  .circle-img {
    width: 30px;
    height: 30px;
    border-radius: 25px
  }

}
